@inherits LogHistoryGridViewBase

@if (Logs != null && Logs.Count > 0)
{
    <table class="table mt-2 table-striped table-bordered">
        <thead>
            <tr class="bg-info grid-row">
                <th class="text-center">Date</th>
                <th class="text-center">Project</th>
                <th class="text-center">Description</th>
                <th class="text-center">Hours</th>
                <th class="text-center">Minutes</th>
                @if (IsEditable == true)
                {
                    <th class="text-center">Action</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Logs)
            {
                <tr class="grid-row">
                    <td class="text-center">@item.EntryDate.ToShortDateString()</td>
                    <td class="text-center">@item.ProjectRef.Name</td>
                    <td class="text-center">@item.Description</td>
                    <td class="text-center">@item.Hours</td>
                    <td class="text-center">@item.Minutes</td>
                    @if (IsEditable == true)
                    {
                        <td class="text-center col-md-auto">
                            <button type="button" class="btn btn-success btn-sm rounded-pill" @onclick="@(() => EditLog(item.Id))">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm ml-2 rounded-pill" @onclick="@(() => RemoveLog(item.Id))"><i class="fas fa-times"></i></button>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}


